
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
:root {
    --texto: 'Roboto Slab', serif;
    --destaque: 'Charm', cursive;
    
    --cor0: #164A46;
    --cor1: #257D77;
    --cor2: #57918D;
    --cor3: #3CC9C0;
    --cor4: #79C9C4;
}
main{
    background-image: url("imagens/fundo-cursos.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 3705px;
}

.cursos-geral {
    height: 100%;
    background-color: #164a4694;
}

.cursos-geral h1{
    text-align: center;
    font-family: var(--destaque);
    color: #ffffff;
    font-size: 4em;
    padding-top: 80px;
    padding-bottom: 20px;
}

.cursos-geral > p{
    margin: 0 auto;
    text-align: justify;
    font-family: var(--texto);
    color: #ffffff;
    width: 75%;
    font-weight: bold;
    margin-bottom: 50px;
}

.cursos-geral > .curso:nth-child(even){
    background-color: #ffffffcb;
}
.cursos-geral > .curso:nth-child(even) h2 {
    color: var(--cor0);
}

.curso{
    width: 100%;
    height: 300px;
    background-color: #3cc9c0e1;
    display: flex;
    margin-bottom: 10px;
}

.curso img {
    border-radius: 0px 160px 160px 0px;
}

.curso span h2 {
    font-family: var(--destaque);
    font-size: 2em;
    color: #ffffff;
    padding: 10px 0px 10px 0px
}
.curso span {
    font-family: var(--texto);
    text-align: justify;
    font-weight: 500;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.curso span a {
    margin: 0 auto;
    text-decoration: none;
    background-color: var(--cor0);
    font-size: 0.8em;
    color: #ffffff;
    padding: 15px;
    border-radius: 40px;
    width: 90px;
}

.curso span a:hover {
    transition: 500ms;
    background-color: #ffffff;
    color: black;
}