@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
:root {
    --texto: 'Roboto Slab', serif;
    --destaque: 'Charm', cursive;
    
    --cor0: #164A46;
    --cor1: #257D77;
    --cor2: #57918D;
    --cor3: #3CC9C0;
    --cor4: #79C9C4;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--texto);
}

header{
    padding: 10px;
    background-color: var(--cor1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav > a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 40px; 
}

main{
    margin: 0 auto;
    background-color: var(--cor2);
    height: 100vh;
    max-width: 1800px
}

#destaque {
    background-color: var(--cor4);
    background-image: url(imagens/destaque.jpg);
    background-size: cover;
    height: 500px;
}

#destaque > div{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #164a4694;
    color: white;
}

#destaque > div section {
    width: 40%;
    height: 10%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.textoDestaque{
    font-family: var(--destaque);
    font-size: 4em;
}

.textoFrase{
    font-size: 1.2em;
}

#inscricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: var(--cor4);
    font-family: var(--destaque);
    font-size: 2.5em;
    font-weight:800;
    color: #000000;
}

#inscricao > p{
    margin-bottom: 30px;
}

#inscricao > a {
    font-family: var(--texto);
    font-weight: 500;
    font-size: 0.5em;
    text-decoration: none;
    background-color: var(--cor0);
    padding: 20px;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 1px 1px 5px black   ;
}

#inscricao > a:hover {
    background-color: var(--cor1);
    color: #000000;
    font-weight: bolder;
}

